Source: restauth-common
Section: python
Priority: extra
Maintainer: Mathias Ertl <mati@restauth.net>
Build-Depends: debhelper (>= 9), python-sphinx (>= 1.0.7),
 python-all (>= 2.6), python3-all,
 python-yaml, python3-yaml,
 python-setuptools, python3-setuptools,
 python-lxml, python3-lxml, 
 python-bson, python3-bson,
 python-msgpack | msgpack-python,
 python3-msgpack | debhelper
Standards-Version: 3.9.5
Homepage: https://common.restauth.net
X-Python-Version: >= 2.6
X-Python3-Version: >= 3.0
Vcs-Browser: https://git.fsinf.at/apt/restauth-common
Vcs-Git: https://git.fsinf.at/apt/restauth-common.git

Package: python-restauth-common
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python:Depends}
Recommends: python-msgpack, python-bson, python-yaml, python-lxml
Provides: ${python:Provides}
Description: common files for RestAuth reference implementations.
 This package provides some file used by both the client and server reference
 implementation.

Package: python3-restauth-common
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python3:Depends}
Recommends: python3-msgpack, python3-yaml, python3-lxml
Description: common files for RestAuth reference implementations.
 This package provides some file used by both the client and server reference
 implementation.

Package: restauth-common-doc
Architecture: all
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Section: doc
Description: API documentation and examples for restauth-common
 This includes sphinx documentation in HTML format and additional examples.
