Source: restauth-common
Section: python
Priority: extra
Maintainer: Mathias Ertl <mati@restauth.net>
Build-Depends: debhelper (>= 9), python3-sphinx (>= 3.4.3),
 python3-all,
 python3-yaml,
 python3-setuptools,
 python3-lxml, 
 python3-bson,
 python3-msgpack
Standards-Version: 4.0.0
Homepage: https://common.restauth.net
X-Python-Version: >= 2.7
X-Python3-Version: >= 3.2
Vcs-Browser: https://github.com/RestAuth/RestAuthCommon/tree/debian
Vcs-Git: https://github.com/RestAuth/RestAuthCommon.git

Package: python3-restauth-common
Architecture: all
Section: python
Depends: ${misc:Depends}, ${python3:Depends}
Recommends: python3-msgpack, python3-yaml, python3-lxml
Description: common files for RestAuth reference implementations.
 This package provides some file used by both the client and server reference
 implementation.

Package: restauth-common-doc
Architecture: all
Depends: ${misc:Depends}, ${sphinxdoc:Depends}
Section: doc
Description: API documentation and examples for restauth-common
 This includes sphinx documentation in HTML format and additional examples.
