#!/usr/bin/make -f

PY2VERS=$(shell pyversions -rv)
PY3VERS=$(shell py3versions -rv)

PY2DIR = $(CURDIR)/debian/python-restauth-common
PY3DIR = $(CURDIR)/debian/python3-restauth-common

DH_ARGS=--with python3,python2 --buildsystem=python_distutils

%:
	dh $@ ${DH_ARGS}

override_dh_installchangelogs:
	dh_installchangelogs ChangeLog

install-python2%:
	dh_testdir
	python2$* setup.py install --force --root ${PY2DIR} --no-compile -O0 --install-layout=deb

install-python3%:
	dh_testdir
	python3$* setup.py install --force --root ${PY3DIR} --no-compile -O0 --install-layout=deb

build-python%:
	dh_testdir
	python$* setup.py build

override_dh_auto_build: ${PY2VERS:%=build-python%} ${PY3VERS:%=build-python%}
	dh_testdir
	python setup.py build_doc
	dh_auto_build

override_dh_auto_install: ${PY2VERS:%=install-python%} ${PY3VERS:%=install-python%}
	dh_auto_install

test-python%:
	python$* setup.py test

ifeq (,$(findstring nocheck,$(DEB_BUILD_OPTIONS)))
override_dh_auto_test: ${PY2VERS:%=test-python%} ${PY3VERS:%=install-python%}
endif
